<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet"
          href="https://pages-themes.github.io/cayman/assets/css/style.css">
    {%- seo -%}
  </head>
  <body>
    {%- include header.html -%}
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
